name: CD Frontend

on:
    push:
        branches:
            - main
        paths:
            - 'frontend/**'
    workflow_dispatch:

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                node-version: '22'

            - name: Build Frontend
              run: |
                rm -rf node_modules package-lock.json
                npm install
                npm run build
              working-directory: ./frontend

            - name: Deploy to Server With SCP
              uses: appleboy/scp-action@v0.1.7
              with:
                host: ${{ secrets.SERVER_HOST }}
                username: ubuntu
                key: ${{ secrets.SERVER_SSH_KEY }}
                port: 22
                source: "frontend/dist/*"
                target: "/var/www/html/"
                strip_components: 2
